
.movies {
    font-size: 1rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    &__title {
        font-size: 1.2rem;
    }

    &__image {
        width: 40vw;
    }

    &__rate {
        font-size: 1rem;
    }
}