
.movies {
    font-size: 1rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #FFC300;
    // border-radius: 4px;
    display: flex;
    flex-direction: column;

    &__popular {
        margin: 0.75rem 0 0.5rem;
        text-align: center;
    }

    &__title {
        font-size: 1.2rem;
    }

    &__image {
        width: 82vw;
        border-radius: 5px;
    }

    &__rate {
        font-size: 1.2rem;
        font-weight: 600;
        padding-bottom: 0.5rem;
    }

    &__overview {
        font-size: 1rem;
        text-align: justify;
        word-spacing: 0.1rem;
    }
}